.git
.idea
.vscode
.dart_tool
.flutter-plugins
.flutter-plugins-dependencies
.metadata
build
coverage
node_modules
**/node_modules
dist
**/dist
backend/.env
backend/node_modules
backend/dist
android/.gradle
android/app/build
ios/Pods
ios/.symlinks
ios/Flutter/Flutter.framework
ios/Flutter/App.framework